<section class="dashboard-section">
  <div class="header">
    <h2>Funcionários da Barbearia</h2>

    <button class="add-button" (click)="abrirCadastroExpert()">
      <span class="icon notranslate">+</span> Adicionar Funcionário
    </button>
  </div>

  <div class="content">
    @if (isLoading()) {
    <div class="loading">Carregando lista de funcionários...</div>
    } @else if (experts().length > 0) {
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th class="actions-col">Filas</th>
            <th class="actions-col">Atualizar</th>
            <th class="actions-col">Remover</th>
          </tr>
        </thead>
        <tbody>
          @for (expert of experts(); track expert.id) {
          <tr>
            <td>{{ expert.id }}</td>
            <td>{{ expert.name }}</td>
            <td>{{ expert.phone }}</td>
            <td>{{ expert.email }}</td>

            <td class="actions-col">
              <button class="action-button queue-button" (click)="viewQueue(expert.id)">
                Ver Fila
              </button>
            </td>

            <td class="actions-col">
              <button class="action-button update-button" (click)="updateExpert(expert.id)">
                Atualizar
              </button>
            </td>

            <td class="actions-col">
              <button class="action-button remove-button" (click)="removeExpert(expert.id)">
                Remover
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    } @else {
    <div class="empty-state">
      <p>Nenhum funcionário cadastrado. Clique em "Adicionar Funcionário" para começar.</p>
    </div>
    }
  </div>
</section>

<app-form-cadastro-expert [visible]="modalAberto" (close)="lidarComFechamento($event)">
</app-form-cadastro-expert>
