<section class="funcoes">
  <h2 class="main-title">Funcionalidades da AgendArte</h2>
  <div class="funcoes__container">
    <div class="card">
      <div class="icon"><span class="material-symbols-outlined notranslate">alarm</span></div>
      <h3 class="card-title">Lembrete de Horários</h3>
      <a href="#" class="card-details">Ver detalhes</a>
    </div>

    <div class="card">
      <div class="icon">
        <span class="material-symbols-outlined notranslate">calendar_clock</span>
      </div>
      <h3 class="card-title">Agendamento Online</h3>
      <a href="#" class="card-details">Ver detalhes</a>
    </div>
    <div class="card">
      <div class="icon"><span class="material-symbols-outlined notranslate">analytics</span></div>
      <h3 class="card-title">Relatórios Gerenciais</h3>
      <a href="#" class="card-details">Ver detalhes</a>
    </div>

    <div class="card">
      <div class="icon">
        <span class="material-symbols-outlined notranslate">patient_list</span>
      </div>
      <h3 class="card-title">Organização de Filas</h3>
      <a href="#" class="card-details">Ver detalhes</a>
    </div>

    <div class="card">
      <div class="icon"><span class="material-symbols-outlined notranslate">concierge</span></div>
      <h3 class="card-title">Controle de Atendimentos</h3>
      <a href="#" class="card-details">Ver detalhes</a>
    </div>
  </div>
</section>
