<section class="funcoes">
  <h2 class="main-title">Funcionalidades do Agendarte</h2>
  <div class="container">
    <div class="card">
      <span class="material-symbols-outlined"> alarm </span>
      <h3 class="card-title">Lembrete de Horários</h3>
      <a href="#" class="card-details">VER DETALHES</a>
    </div>

    <div class="card">
      <span class="material-symbols-outlined"> calendar_clock </span>
      <h3 class="card-title">Agendamento Online</h3>
      <a href="#" class="card-details">VER DETALHES</a>
    </div>

    <div class="card">
      <span class="material-symbols-outlined"> group </span>
      <h3 class="card-title">Gestão de Clientes</h3>
      <a href="#" class="card-details">VER DETALHES</a>
    </div>

    <div class="card">
      <span class="material-symbols-outlined"> login </span>
      <h3 class="card-title">Autenticação de acesso</h3>
      <a href="#" class="card-details">VER DETALHES</a>
    </div>

    <div class="card">
      <span class="material-symbols-outlined"> groups </span>
      <h3 class="card-title">Gestão de Equipe</h3>
      <a href="#" class="card-details">VER DETALHES</a>
    </div>

    <div class="card">
      <span class="material-symbols-outlined"> analytics </span>
      <h3 class="card-title">Relatórios Gerenciais</h3>
      <a href="#" class="card-details">VER DETALHES</a>
    </div>

    <div class="card">
      <span class="material-symbols-outlined"> patient_list </span>
      <h3 class="card-title">Organização de filas</h3>
      <a href="#" class="card-details">VER DETALHES</a>
    </div>

    <div class="card">
      <span class="material-symbols-outlined"> concierge </span>
      <h3 class="card-title">Controle de atendimentos</h3>
      <a href="#" class="card-details">VER DETALHES</a>
    </div>
  </div>
</section>
