<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li *ngFor="let item of menuItems" class="nav-item" [class.active]="item.active">
        <a [routerLink]="item.route" routerLinkActive="active-link-style" class="nav-link">
          <span class="material-icons notranslate">{{ item.icon }}</span>
          <span class="nav-label">{{ item.label }}</span>
        </a>
      </li>
    </ul>

    <div class="divider"></div>

    <ul class="nav-list">
      <li *ngFor="let item of secondaryItems" class="nav-item">
        <a
          *ngIf="item.label === 'Settings'"
          (click)="openSettingsModal()"
          class="nav-link cursor-pointer"
        >
          <span class="material-icons notranslate">{{ item.icon }}</span>
          <span class="nav-label">{{ item.label }}</span>
        </a>
        <a
          *ngIf="item.label !== 'Settings'"
          [routerLink]="item.route"
          routerLinkActive="active-link-style"
          class="nav-link"
        >
          <span class="material-icons notranslate">{{ item.icon }}</span>
          <span class="nav-label">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="sidebar-footer">
    <div class="divider"></div>
    <div class="user-profile">
      <img [src]="user.avatarUrl" [alt]="user.name" class="avatar" />
      <div class="user-info">
        <span class="name">{{ user.name }}</span>
        <span class="title">{{ user.title }}</span>
      </div>
      <button (click)="logoutBtn()" class="logout-icon" title="Sair">
        <span class="material-icons notranslate">logout</span>
      </button>
    </div>
  </div>
</div>

<app-settings-modal *ngIf="showSettingsModal" (close)="closeSettingsModal()"> </app-settings-modal>
