<footer>
  <section class="infos">
    <div class="infos__contatos">
      <div class="infos__contatos__item">
        <span class="material-symbols-outlined"> location_on </span>
        <span>Praça Ramos de Queirós, 1 - 1º andar - Pelourinho, Salvador - BA, 40020-210</span>
      </div>
      <div class="infos__contatos__item">
        <span class="material-symbols-outlined"> mail </span>
        <a href="mailto:contato@agendartebarber.com.br">contato@agendartebarber.com.br</a>
      </div>
    </div>

    <div class="infos__logo">
      <img src="agendarte-logo.png" alt="Logotipo Agendarte Barber" class="footer-logo" />
    </div>

    <div class="infos__redes">
      <a href="https://www.instagram.com/matsu.pa/" aria-label="Instagram">
        <i class="fa-brands fa-instagram social-icon"></i>
      </a>
      <a href="https://www.facebook.com/mateus.pinheiro.963" aria-label="Facebook">
        <i class="fa-brands fa-facebook-f social-icon"></i>
      </a>
      <a href="https://www.linkedin.com/in/mateus-pa/" aria-label="LinkedIn">
        <i class="fa-brands fa-linkedin-in social-icon"></i>
      </a>
    </div>
  </section>
  <section class="copyright">
    <p>AGENDARTE BARBER © 2025 - TODOS OS DIREITOS RESERVADOS.</p>
  </section>
</footer>
