<footer>
  <section class="infos">
    <div class="infos__contatos">
      <div class="infos__contatos__item">
        <span class="material-symbols-outlined"> location_on </span>
        <span>Praça Ramos de Queirós, 1 - 1º andar - Pelourinho, Salvador - BA, 40020-210</span>
      </div>
      <div class="infos__contatos__item">
        <span class="material-symbols-outlined"> mail </span>
        <a href="mailto:contato@agendartebarber.com.br">contato@agendartebarber.com.br</a>
      </div>
    </div>
  </section>
  <section class="copyright">
    <p>© 2025. TODOS OS DIREITOS RESERVADOS.</p>
  </section>
</footer>
