.sobre {
  text-align: justify;
  margin: 2.5rem 20rem;
  color: var(--cor-secundaria);
  max-width: 60%;
}

.sobre h2 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--cor-quaternaria);
}

.scrollAnimate {
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 20% cover 100vh;
}

@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sobre h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--cor-quaternaria);
}

.sobre strong {
  font-size: 1rem;
  font-weight: 650;
  color: var(--cor-quaternaria);
}
