header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--cor-primaria);
  padding: 0.2rem 5rem;

  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

header.sticky {
  position: fixed;
  background-color: var(--marrom-escuro);
  padding: 0.2rem 5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.info img {
  width: 4.5rem;
}

.info h1 {
  font-size: 1.2rem;
  font-weight: 700;
}

header nav ul {
  display: flex;
  gap: 1.1rem;
  margin-right: 15rem;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
  color: var(--cor-primaria);
}

header nav ul li a:hover {
  color: var(--cor-terciaria);
}
