<header [ngClass]="{ sticky: isSticky }">
  <div class="info">
    <img src="./agendarte-logo.png" alt="Logo" />
    <h1>AgendArte Barber</h1>
  </div>

  <button class="hamburger" (click)="toggleMenu()" [class.active]="menuOpen">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav id="navbar" [ngClass]="{ open: menuOpen }">
    <ul>
      <li><a routerLink="/home" (click)="scrollToElement('home'); closeMenu()">HOME</a></li>

      @if (this.currentRoute == "/home") {
      <li><a (click)="scrollToElement('sobre'); closeMenu()">SOBRE</a></li>
      <li><a (click)="scrollToElement('funcoes'); closeMenu()">FUNÇÕES</a></li>
      <li><a (click)="scrollToElement('acessar'); closeMenu()">ACESSAR</a></li>
      } @else {
      <li><a routerLink="/home" (click)="closeMenu()">SOBRE</a></li>
      <li><a routerLink="/home" (click)="closeMenu()">FUNÇÕES</a></li>
      <li><a routerLink="/login" (click)="closeMenu()">ACESSAR</a></li>
      }
    </ul>
  </nav>
</header>
