<section class="cadastro-container">
  <h2>Cadastre sua conta</h2>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-field">
      <label for="input-name">Nome</label>
      <input
        id="input-name"
        type="text"
        class="text-input"
        #input
        maxlength="50"
        placeholder="Ex. Maria Souza"
        (input)="onInput($event)"
      />
    </div>

    <div class="form-field">
      <label for="input-email">Email</label>
      <input
        id="input-email"
        type="email"
        class="text-input"
        placeholder="email@example.com"
        [formControl]="email"
        (blur)="updateErrorMessage()"
        required
      />
      @if (email.invalid) {
      <div class="error-message">{{ errorMessage() }}</div>
      }
    </div>

    <div class="form-field">
      <label for="input-password">Senha</label>
      <input id="input-password" class="text-input" type="password" [formControl]="senha" />
    </div>

    <div class="lgpd">
      <input
        type="checkbox"
        id="aceiteTermos"
        name="aceiteTermos"
        [formControl]="aceiteTermos"
        required
        onchange="toggleButton()"
      />
      <label for="aceiteTermos">
        Li e aceito integralmente os
        <a
          href="https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm"
          target="_blank"
          ><strong>Termos de Serviço</strong></a
        >
        e a
        <a
          href="https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm/"
          target="_blank"
          ><strong>Política de Privacidade</strong></a
        >.
      </label>
    </div>

    <button type="submit" [disabled]="loginForm.invalid" class="btn-cadastrar">Cadastrar</button>
  </form>
</section>
