.cadastro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 0 2.5rem;
  backdrop-filter: blur(20px);
  border: 2px solid var(--marrom-intermediario);
  box-shadow: 0 4px 6px var(--marrom-escuro);
  border-radius: 10px;
  margin-top: 5rem;
  width: 420px;
  gap: 1.875rem;
}

mat-form-field {
  width: 100%;
  color: #e1e1e1;
}

form {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1.875rem;
  padding: 0 2.5rem;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  color: #fff;
  margin-top: 1.875rem;
}

.btn-login {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  font-size: 1.125rem;
  background-color: var(--marrom-claro);
  box-shadow: 0 2px 4px var(--marrom-intermediario);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-login:hover {
  background-color: var(--marrom-intermediario);
  box-shadow: 0 4px 6px var(--marrom-escuro);
}

.btn-login:active {
  background-color: var(--marrom-intermediario);
}

.lgpd {
  text-align: center;
  margin-bottom: 1.875rem;
}

:host ::ng-deep .mat-form-field-suffix .mat-icon-button {
  display: none;
}
