<section class="cadastro-container">
  <h2>Acesse sua conta</h2>

  <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label for="input-email">Email</label>
      <input
        id="input-email"
        type="email"
        class="text-input"
        placeholder="email@example.com"
        [formControl]="email"
        (blur)="updateErrorMessage()"
        required
      />
      @if (email.invalid) {
      <div class="error-message">{{ errorMessage() }}</div>
      }
    </div>

    <div class="form-field">
      <label for="input-password">Senha</label>
      <input id="input-password" class="text-input" type="password" [formControl]="password" />
    </div>

    <label class="text-cadastro"
      >Ainda não tem conta? <a routerLink="/cadastro">Cadastrar</a></label
    >

    <button type="submit" [disabled]="loginFormGroup.invalid" class="btn-login">Entrar</button>
  </form>
</section>
