<section class="login-container">
  <h2>Acessar sua conta</h2>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <mat-form-field>
      <mat-label>Digite seu email</mat-label>
      <input
        matInput
        placeholder="email@example.com"
        [formControl]="email"
        (blur)="updateErrorMessage()"
        required
      />
      @if (email.invalid) {
      <mat-error>{{ errorMessage() }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Digite sua senha</mat-label>
      <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
      <button
        matIconButton
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button type="submit" [disabled]="loginForm.invalid" class="btn-login">Entrar</button>
  </form>

  <div class="links">
    <a href="#">Esqueci minha senha</a>
  </div>
</section>
