.container {
  flex: 1;
  display: flex;
  align-items: start;
  background-color: #c5c5c5;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-sidebar-dashboard {
  margin-top: 3.5rem;
}

app-queue-dashboard {
  padding: 1rem;
  margin-top: 3.5rem;
}
